@import "./colors.scss";
@import "./components/buttons.scss";
@import "./views/product-view.scss";

@font-face {
  font-family: "MabryPro";
  src: local("MabryPro"), url(../fonts/MabryPro-Light.ttf);
}

html {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "MabryPro";
  height: 100%;
}

.App {
  color: $color-black;
  background-color: $color-white;
  flex-direction: column;
}

h1 {
  margin: 0px;
  font-size: 2.2rem;
}

h3 {
  margin: 0px;
  font-size: 1.25rem;
}

p {
  margin: 0;
}

#font-14px {
  font-size: 14px;
}

#clickable {
  cursor: pointer;
}

.success-snackbar {
  background-color: $color-green;
}
